<div class="modal fade" id="settingsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Game Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Player Name</label>
                    <input type="text" id="playerName" class="form-control" value="Player 1" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Player Color</label>
                    <input type="color" id="playerColor" class="form-control" value="#ff0000" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Player Symbol</label>
                    <select id="playerSymbol" class="form-select">
                        <option value="X">X (Play First)</option>
                        <option value="O">O (Computer Plays First)</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="startNewGame()">Start Game</button>
            </div>
        </div>
    </div>
</div><div class="modal fade" id="settingsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Game Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Player Name</label>
                    <input type="text" id="playerName" class="form-control" value="Player 1" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Player Color</label>
                    <input type="color" id="playerColor" class="form-control" value="#ff0000" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Player Symbol</label>
                    <select id="playerSymbol" class="form-select">
                        <option value="X">X (Play First)</option>
                        <option value="O">O (Computer Plays First)</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="startNewGame()">Start Game</button>
            </div>
        </div>
    </div>
</div>